.finalPart {
  margin-left: 100px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
}

.footer,
.adress,
.rightReserved {
  flex: 1;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.adress,
.rightReserved {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer h2 {
  margin-left: 10px;
  width: 128px;
  height: 20px;
  color: #ffffff;
}

.footer img {
  width: 20px;
  height: 20px;
}

.adress p,
.adress a,
.rightReserved {
  height: 22px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 119% */
  color: rgba(255, 255, 255, 0.4);
}

.rightReserved {
  display: flex;
  justify-content: flex-start;
  padding-top: 5%;
}
